<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <h2>Reset Password</h2>
    <br>
    <br>
    {% if messages %}
        {% for message in messages %}
            {% if "error" in message.tags %}
            <b style="background-color: chocolate;">{{message}}</b><br>
            {% else %}
            <b style="background-color: rgb(42, 231, 17);">{{message}}</b><br>
            {% endif %}
        {% endfor %}
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <input type="password" name = password>
        <label>Password</label><br>
        
        <input type="password" name = confirm_password>
        <label>Confirm Password</label>
        <br>
        <input type="submit" value = Reset Password>
        <br>
        Remember your Password? <a href="{% url 'login'%}">Login</a>
    </form>
</body>
</html>